
header {
    background-color: #898687;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer {
    background-color:#898687 ;
}
.centered{
    text-align: center;
}
.intro {
    max-width: 500px;
    text-align: left;
}








